/* Media queries */
@media (min-width: 936px) {
  #side-panel {
    max-width: unset;
  }

  /* Normal panel sizes */
  ytmusic-player-page:not([is-mweb-modernization-enabled])[blyrics-video-mode]
  #side-panel {
    width: var(--blyrics-video-panel-size);
  }

  ytmusic-player-page:not([is-mweb-modernization-enabled]):not([blyrics-video-mode])
  #side-panel {
    width: var(--blyrics-panel-size);
  }

}

/* Styles for mobile screens */
#tab-renderer[is-mweb-modernization-enabled][page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  mask-image: none;
  -webkit-mask-image: none;
}

