@media (max-width: 936px) {
	/* Styles for medium-sized screens */
	#blyrics-wrapper {
		margin-inline: -1.5rem;
	}
}

@media (max-width: 615px) {
	/* Styles for smaller screens */
	.blyrics-container > div {
		margin-inline: 4rem !important;
	}
	#blyrics-wrapper {
		margin-top: 0;
	}
	.blyrics-footer {
		row-gap: 1.25rem;
	}
}

